PORT=4000
FRONTEND_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/flores-del-alma?retryWrites=true&w=majority
JWT_SECRET=tu_secreto_super_seguro_aqui_min_32_chars
OPENWEATHER_API_KEY=tu_api_key_de_openweathermap
